<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86167266843-ta87lq9313o1kofep1oupq1spmaffm2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86167266843-ta87lq9313o1kofep1oupq1spmaffm2s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86167266843-t02p2ves7sgd74puv781lmaiagkbsdk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs6rkqMi9abKqek9d3Yz6FNkV5Y8DWoOw</string>
	<key>GCM_SENDER_ID</key>
	<string>86167266843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolfcodea.anime.appanime</string>
	<key>PROJECT_ID</key>
	<string>appanime-75171</string>
	<key>STORAGE_BUCKET</key>
	<string>appanime-75171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86167266843:ios:7e301f41aa53a7d3defabe</string>
</dict>
</plist>